body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("img/light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
}

#stContainer {
    margin: 20px auto;
    background-color: darkcyan;
    height: 630px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}

#container {
    margin: 20px auto;
    background-color: white;
    height: 630px;
    width: 800px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    border: 3px solid darkcyan;
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

#videos {
    margin: 15px auto;
    padding-left: 50px;
    padding-right: 50px;
}

#buttonVideo {
    margin: 20px auto;
    text-align: center;
}

#start {
    font-size: 1.5em;
    font-weight: bolder;
    width: 230px;
    height: 100px;
    padding: 5px;
    border: 5px solid darkcyan;
    padding-top: 25px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left: 300px;
    top: 250px;
    color: black;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
}

    #start:hover {
        border: 3px solid lightseagreen;
        color: black;
        background-color: darkcyan;
    }

#qImg {
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50px;
    top: 90px;
}

    #qImg img {
        width: 300px;
        height: 250px;
        margin-top: 120px;
        border-top-left-radius: 5px;
    }

#question {
    width: 650px;
    height: 125px;
    position: absolute;
    right: 160px;
    top: 20px;
}

    #question p {
        margin: 0;
        padding: 70px;
        right: 100px;
        font-size: 1.35em;
        font-family: Arial, Helvetica, sans-serif;
    }

#choices {
    width: 480px;
    position: absolute;
    right: 0;
    top: 110px;
    padding: 50px
}

.choice {
    margin: 10px;
    width: 400px;
    text-align: center;
    border: 2px solid grey;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    background-color: aliceblue;
}

    .choice:hover {
        //border: 2px solid grey;
        // font-weight: bold;
        border: 3px solid darkcyan;
        //color: darkcyan;
        background-color: lightblue;
    }


#timer {
    position: absolute;
    height: 50px;
    width: 200px;
    bottom: 0px;
    text-align: center;
}

#counter {
    font-size: 1em;
}

#btimeGauge {
    width: 150px;
    height: 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left: 25px;
}

#timeGauge {
    height: 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top: -10px;
    margin-left: 25px;
}

#progress {
    width: 500px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 5px;
    text-align: right;
}

.prog {
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}

#scoreContainer {
    margin: 20px auto;
    background-color: lightcyan;
    height: 500px;
    width: 700px;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

    #scoreContainer img {
        position: absolute;
        top: 10px;
        left: 290px;
    }

    #scoreContainer p {
        position: absolute;
        display: block;
        width: 600px;
        height: 400px;
        top: 130px;
        left: 50px;
        font-size: 1.5em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

#feedbackContainer {
    margin: 20px auto;
    background-color: paleturquoise;
    //opacity: 0.8;
    height: 500px;
    width: 700px;
    border-radius: 20px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}

    #feedbackContainer p {
        position: absolute;
        display: block;
        width: 600px;
        height: 400px;
        top: 130px;
        left: 50px;
        font-size: 1.5em;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#modal.correct .modal-header,
#modal.correct .modal-footer {
    background-color: teal;
}

#modal.wrong .modal-header,
#modal.wrong .modal-footer {
    background-color: darkred;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto; /* 15% from the top and centered */
    padding: 0px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    min-height: 400px;
    top: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

#modal.correct .wrong, #modal.wrong .correct {
    display: none;
}

#modal.correct .correct, #modal.wrong .wrong {
    display: block;
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}
